<br>
<div class="container">
    <h2>Fitness Dashboard</h2>
    <h3>Weight: {{ weight }}</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="buttons" class="card">
            <button class="btn btn-primary" data-toggle="modal" data-target="#workoutModal">Add new workout</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#weightModal">Update Weight</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#updateModal">Update Profile</button>
            <a href="/members/logout" class="btn btn-danger">Logout</a>
        </div>
        </div>
        <div class="col-md-9">
            {{#each workouts}}
                <div class="container card workout">
                    {{ this.date }}
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item">Name: {{this.name}}</li>
                                <li class="list-group-item">Program: {{this.program}}</li>
                                <li class="list-group-item">Duration: {{this.duration}}</li>
                                <li class="list-group-item">Calories Burned: {{this.calories_burned}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card details">{{this.weight_notes}}</div>
                        </div>
                    </div>
                    <br>
                    <form action="/workouts/delete_workout/{{this.id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger btn-block">
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="workoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a Workout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="errors" class="text-danger"></div>
                <form class="container-fluid" action="/workouts/add_workout" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="workout_name">Name*</label>
                                <input name="workout_name" id="workout_name" type="text" class="form-control"
                                    aria-describedby="workout_name_Help" placeholder="Enter workout name">
                            </div>
                            <div class="form-group">
                                <label for="workout_program">Program*</label>
                                <input name="workout_program" id="workout_program" type="text" class="form-control"
                                    placeholder="Program">
                            </div>
                            <div class="form-group">
                                <label for="duration">Duration</label>
                                <input name="duration" id="duration" type="number" class="form-control"
                                    placeholder="Duration">
                            </div>
                            <div class="form-group">
                                <label for="calories_burned">Calories Burned</label>
                                <input name="calories_burned" id="calories_burned" type="number" class="form-control"
                                    placeholder="Calories Burned">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="weight_notes">Weight Notes</label>
                                <textarea class="form-control" name="weight_notes" id="weight_notes" cols="30"
                                    rows="10"></textarea>
                            </div>
                            <input id="add_workout" type="submit" class="btn btn-primary btn-block" value="Add Workout">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="weightModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Weight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="errors" class="text-danger"></div>
                <form class="container-fluid" action="/update_weight" method="post">
                    <div class="form-group">
                        <label for="weight">Weight:</label>
                        <input name="weight" id="weight" type="text" class="form-control"
                            aria-describedby="workout_name_Help" placeholder="Enter Weight">
                    </div>
                    <input id="add_weight" type="submit" class="btn btn-primary btn-block" value="Add Weight">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="errors" class="text-danger"></div>
                <form class="container-fluid" action="/members/update_profile" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" type="email" class="form-control" id="signup_email"
                            aria-describedby="emailHelp" value="{{member.email}}">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="signup_username"
                            aria-describedby="emailHelp" value="{{member.username}}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="signup_password"
                            value="{{member.password}}">
                    </div>
                    <div class="form-group">
                        <label for="passwordconfirm">Confirm Password</label>
                        <input name="passwordconfirm" type="password" class="form-control" id="password_confirm"
                            value="{{member.password}}">
                    </div>
                    <input id="update_profile" type="submit" class="btn btn-primary btn-block" value="Update Profile">
                </form>
            </div>
        </div>
    </div>
</div>
</div>