<br>
<div class="container">
    <form class="container-fluid" action="/workouts/update_workout/{{workout.id}}" method="POST">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="workout_name">Name*</label>
                    <input name="workout_name" id="workout_name" type="text" class="form-control"
                        aria-describedby="workout_name_Help" placeholder="{{workout.name}}">
                </div>
                <div class="form-group">
                    <label for="workout_program">Program*</label>
                    <input name="workout_program" id="workout_program" type="text" class="form-control"
                        placeholder="{{workout.program}}">
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input name="duration" id="duration" type="number" class="form-control"
                        placeholder="{{workout.duration}}">
                </div>
                <div class="form-group">
                    <label for="calories_burned">Calories Burned</label>
                    <input name="calories_burned" id="calories_burned" type="number" class="form-control"
                        placeholder="{{workout.calories_burned}}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="weight_notes">Weight Notes</label>
                    <textarea class="form-control" name="weight_notes" id="weight_notes" cols="30"
                        rows="10">{{workout.weight_notes}}</textarea>
                </div>
                <input id="update_workout" type="submit" class="btn btn-primary btn-block" value="Update Workout">
            </div>
        </div>
    </form>
</div>